@import url(reset.css);
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

@font-face {
  font-family: 'Capture_it';
  src: url("../../type/Capture_it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ArmaliteRifleRegular';
  src: url("../../type/armalite_rifle-webfont.eot");
  src: url("../../type/armalite_rifle-webfont.eot?#iefix") format("embedded-opentype"), url("../../type/armalite_rifle-webfont.woff") format("woff"), url("../../type/armalite_rifle-webfont.ttf") format("truetype"), url("../../type/armalite_rifle-webfont.svg#ArmaliteRifleRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LeagueGothic';
  src: url("../../type/League_Gothic-webfont.eot");
  src: url("../../type/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../type/League_Gothic-webfont.woff") format("woff"), url("../../type/League_Gothic-webfont.ttf") format("truetype"), url("../../type/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vollkorn';
  src: url("../../type/Vollkorn-Regular-webfont.eot");
  src: url("../../type/Vollkorn-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../type/Vollkorn-Regular-webfont.woff") format("woff"), url("../../type/Vollkorn-Regular-webfont.ttf") format("truetype"), url("../../type/Vollkorn-Regular-webfont.svg#VollkornRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background: url("../../images/bigmike4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#links {
  background: #fff;
  opacity: 75%;
  position: absolute;
  left: 50px;
  bottom: 50px;
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0.5em solid #ddd;
  width: 130px; }
  #links p {
    font-size: 1em;
    font-family: 'Vollkorn';
    margin-bottom: 1em; }
  #links ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #links a {
    font-size: 2em;
    color: #333333;
    text-decoration: none;
    font-family: 'ArmaliteRifleRegular'; }
  #links a:hover {
    color: #f00; }
  #links .twitter {
    font-family: 'Vollkorn';
    font-size: 1em; }

#slogan {
  color: white;
  font-size: 6em;
  position: absolute;
  bottom: 50px;
  right: 8%;
  font-family: 'ArmaliteRifleRegular'; }

#title {
  font-size: 4em;
  font-family: 'LeagueGothic'; }
  #title h1 {
    margin: 0; }
