<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Big Mike</title>

        <link rel="stylesheet" href="/static/styles/css/main.css" type="text/css" media="screen" />

        {% assets "all-js" %}
        <script type="text/javascript" src="{{ASSET_URL}}"></script>
        {% endassets %}
    </head>
    <body>
        <div id="title"><h1>Big Mike Gregory</h1></div>
        <div id="links">
            <ul>
                <li><a href="http://blog.bigmikegregory.com/about/">About</a></li>
                <li><a href="http://blog.bigmikegregory.com/">Blog</a></li>
            </ul>
        </div>
        <div id="slogan">Results.</div>
    </body>
</html>
