@import 'reset.css';
@import '_grid.scss';
@import '_mixins.scss';


$white:#fff;
$black:#333;

@font-face {
    font-family: 'Capture_it';
    src: url('../type/Capture_it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../type/League_Gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url('../type/Vollkorn-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html { 
    background:url('../../images/bigmike3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#links 
{
    background:#fff;
    @include opacity(75%);
    position:absolute;
    left:50px;
    bottom:50px;
    padding:1em;
    @include rounded;
    border:0.5em solid #ddd;
    width:130px;

    p
    {
        font-size:1em;
        font-family:'Vollkorn';
        margin-bottom:1em;
    }

    a
    {
        font-size:2em;
        color:$black;
        text-decoration:none;
        font-family:'Capture_it';
    }
    a:hover
    {
        color:#f00;
    }
    .twitter 
    {
        font-family:'Vollkorn';
        font-size:1em;
    }
}

#slogan
{
    color:$white;
    font-size:6em;
    position:absolute;
    bottom:50px;
    right:25%;
    font-family:'Capture_it';
}

#title
{
    //.center-block;
    font-size:8em;
    font-family:'LeagueGothic';
    
}
